/**
 * CSS Reset - http://meyerweb.com/eric/tools/css/reset/
 * License: None (public domain)
 * Copyright: Eric Meyer, http://meyerweb.com/eric/
 *
 * We've used Eric Meyer's reset as a base and modified it a bit to suit our needs.
 */
html,body, div, dl, dt, dd, ul, li,
pre, form, fieldset, input, textarea, blockquote, th, td, section { 
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

fieldset, img, abbr, acronym  { 
	border: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a img {
	text-decoration: none;
}

select {
	max-width: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

address, caption, cite, code, dfn, var {
	font-weight: normal;
	font-style: normal;
}

q:before, q:after {
	content: '';
}

ul {
	list-style: none;
}
	
mark{
	background: none;
}

button{
	border: none;
}


/* General Styles */
body, body.wp-autoresize {
	width: 715px;
	max-width: 1100px;
	margin: 1em;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 18px;
	color: #555555;
	line-height: normal;

	/* Ensure that all long words are broken up so they do not exceed the width of their container elements. */
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

strong{
	font-weight: bold;
}

a {
	color: #565656;
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
	margin: 0 0 0.25em;
	font-size: 36px;
	line-height: 36px;
}

h2 {
	margin-bottom: 5px;
	margin-top: 15px;
	font-size: 32px;
	line-height: normal;
}

h3 {
	font-size: 24px;
	line-height: normal;
}

h4 {
	font-size: 20px;
	line-height: normal;
}

h5 {
	font-size: 16px;
	line-height: normal;
}

blockquote{
	width: 94%;
	margin: 0.5em auto auto;
	padding: 0.5em;
	background: #f2f2f2;
	position: relative;
	font-size: 22px;
	line-height: 1.5em;
	font-weight: 600;
}

ul{
	margin-left: 30px;
}

ul li{
	list-style: square;
}

ul > li{
	list-style: square;	
	padding: 2px 0;
}

ol > li {
	padding-bottom: 2px;
}

cite{
	display: block;
}

table th{
	color: #555;
	padding: 0.5em;
	background: #f2f2f2;
	font-weight: bold;
	text-align: center;
	border: 1px solid #dbdbdb;
	border-bottom: none;
	font-size: 18px;
	font-family: 'Open Sans', Arial, sans-serif;
}

table tr:nth-child(even){
	background: #f6f6f6;
}

table td {
	padding: 0.5em;
	border: 1px solid #e0e0e0;
	font-size: 18px;
	font-family: 'Open Sans', Arial, sans-serif;
}

dt{
	font-weight: bold;
}

dd{
	padding-left: 1em;
	padding-bottom: 1em;
}

abbr, acronym {
	border-bottom: 1px dotted;
	cursor: help;
}

em{
	font-style: italic;
}




/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption, .gallery-caption {
    background: #eee;
    border: 1px solid #e6e6e6;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img, .gallery-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}